<div class="overlay">
    <div class="overlay_main">
        <form action="/update/<%=user.id  %>" class="overlay_form" enctype="multipart/form-data" method="post">
            <img src="<%=user.avatar %>" alt="<%=user.avatar %>" class="overlay_image" />
            <input type="file" name="avatar" class="profile_image" />
            <input type=" text" name="username" class="home_form_input" value=<%=user.username %>>
            <button class="home_form_btn">Update</button>
        </form>

    </div>
</div>
<% if(!locals.user.isVerified) {%>
    <div class="verification">
        <% if(locals.user){ %>
            <div class="verification_text">Check your inbox of the email address associated with ChatZip to verify your
                account . </div>
            <% } %>
    </div>
    <% } %>
        <div class="chat">
            <div class="chat_container">
                <div class="chat_users">
                    <% if(locals.user){ %>
                        <div class="chat_current_user">
                            <img src=<%=locals.user.avatar %> alt="current_user" class="chat_current_image">
                            <div class="chat_current_username">
                                <%=locals.user.username%>
                                    <% if(locals.user.isVerified){ %>
                                        <i class="fa-solid fa-check fa-sm" style="color: #007fff;" title="verified"></i>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
                            <div class="chat_searchbar">
                                <input type="text" name="userSearch" id="userSearch" class="chat_searchbar_input"
                                    placeholder="Search Friends..">
                            </div>

                            <div class="chat_friend">
                                <% for(u of users){ %>


                                    <div class="chat_friend_list" id-user="<%= u.id %>">
                                        <img src="<%=u.avatar %>" alt="" class="chat_friend_image">
                                        <div class="chat_friend_username">
                                            <%=u.username %>
                                                <div class=<%=(u.isVerified===true)?"":"noDisplay" %>> <i
                                                        class="fa-solid fa-check fa-sm" title="Verified"
                                                        style="color: #007fff;" title="verified"></i></div>
                                        </div>

                                    </div>
                                    <% } %>

                            </div>
                </div>
                <div class=" chat_box">
                    <div class="chat_box_header">
                        <img src="<%=locals.user.avatar%>" class="chat_box_image">
                        <div class="chat_box_username">
                            <%=locals.user.email%>
                        </div>
                    </div>
                    <div class="chat_box_main" id="chat_box_main">
                        <% for(chatMessage of chatMessages ) {%>
                            <%if(locals.user.id===chatMessage.user.id) {%>
                                <div class="chat_box_mainuser">
                                    <p>
                                        <%=chatMessage.chat%>
                                    </p>
                                </div>
                                <% }else{ %>
                                    <div class="chat_box_container">
                                        <img src="<%=chatMessage.user.avatar%>" alt="" class="chat_box_chatimg">
                                        <div class="chat_box_friend">
                                            <div class="chat_box_chatuser">
                                                <%=chatMessage.user.username%>
                                            </div>
                                            <%=chatMessage.chat%>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                    </div>
                    <% if(locals.user.isVerified){ %>
                        <form class="chat_box_text" id="chat_box_text">
                            <input type="text" name="chat" class="chat_box_input" id="chat_box_input"
                                enctype="multipart/form-data" method="POST" placeholder="Type a message...">
                            <button class="chat_button" id="send-message"><i class="fa-solid fa-paper-plane fa-xl"
                                    style="color: #ffffff;"></i></button>
                        </form>
                        <% } %>
                </div>
            </div>
        </div>