<div class="overlay">
    <div class="overlay_main">
        <form action="/update/<%=user.id  %>" class="overlay_form" enctype="multipart/form-data" method="post">
            <img src="<%=user.avatar %>" alt="<%=user.avatar %>" class="overlay_image" />
            <input type="file" name="avatar" class="profile_image" />
            <input type=" text" name="username" class="home_form_input" value=<%=user.username %>>
            <button class="home_form_btn">Update</button>
        </form>

    </div>
</div>
<% if(!locals.user.isVerified) {%>
    <div class="verification">
        <% if(locals.user){ %>
            <div class="verification_text">Check your inbox of the email address associated with ChatZip to verify your
                account . </div>
            <% } %>
    </div>
    <% } %>
        <div class="chat">
            <div class="chat_container">
                <div class="chat_users">
                    <% if(locals.user){ %>
                        <div class="chat_current_user">
                            <img src=<%=locals.user.avatar %> alt="current_user" class="chat_current_image">
                            <div class="chat_current_username">
                                <%=locals.user.username%>
                                    <% if(locals.user.isVerified){ %>
                                        <i class="fa-solid fa-check fa-sm" style="color: #007fff;"></i>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
                            <div class="chat_searchbar">
                                <input type="text" name="userSearch" id="userSearch" class="chat_searchbar_input"
                                    placeholder="Search Friends..">
                            </div>

                            <div class="chat_friend">
                                <% for(user of users){ %>


                                    <div class="chat_friend_list" id-user="<%= user.id %>">
                                        <img src="<%=user.avatar %>" alt="" class="chat_friend_image">
                                        <div class="chat_friend_username">
                                            <%=user.username %>
                                        </div>

                                    </div>
                                    <% } %>

                            </div>
                </div>
                <div class="chat_box">
                    <div class="chat_box_header">
                        <img src="/images/image.jpg" class="chat_box_image">
                        <div class="chat_box_username">Tharesh Jose</div>
                    </div>
                    <div class="chat_box_main" id="chat_box_main">


                    </div>
                    <div class="chat_box_text">
                        <input type="text" name="" class="chat_box_input" id="chat_box_input"
                            placeholder="Type a message...">
                        <button class="chat_button" id="send-message"><i class="fa-solid fa-paper-plane fa-xl"
                                style="color: #ffffff;"></i></button>
                    </div>
                </div>
            </div>
        </div>